In [1]:
import pandas as pd
import nltk

In [4]:
X_train=pd.read_csv("train.csv")

In [5]:
X_train.drop("id",axis='columns',inplace=True)

In [6]:
X_train.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [10]:
y_train=pd.read_csv("test.csv")
y_train.drop("id",axis='columns',inplace=True)

In [11]:
y_train.head()

                                               tweet
0  #studiolife #aislife #requires #passion #dedic...
1   @user #white #supremacists want everyone to s...
2  safe ways to heal your #acne!!    #altwaystohe...
3  is the hp and the cursed child book up for res...
4    3rd #bihday to my amazing, hilarious #nephew...

In [19]:
#Data cleaning and preprocessing
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [14]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/karthik/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
tokenizer=RegexpTokenizer(r'\w+')
en_stopwords=set(stopwords.words('english'))
ps=PorterStemmer()

In [26]:
def getcleantext(text):
    text=text.lower()
    
    #tokenize
    tokens=tokenizer.tokenize(text)
    new_tokens=[token for token in tokens if token not in en_stopwords]
    
    stemed_tokens=[ps.stem(tokens) for tokens in new_tokens]
    clean_text=" ".join(stemed_tokens)
    
    return clean_text

In [30]:
X_clean=[getcleantext(i) for i in X_train]
Xt_clean=[getcleantext(i) for i in X_test]

In [31]:
X_clean

['label', 'tweet']

In [33]:
Xt_clean

['label', 'tweet']

In [34]:
# Creating the Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2500)
X = cv.fit_transform(X_clean).toarray()

In [35]:
X

array([[1, 0],
       [0, 1]])